<div ng-include src="'/js/custom-angularjs/templates/admin/user/partials/grid-nav.html'"></div>
<!-- controls -->
<div class="row form-inline">
	<div class="form-group col-md-9">
		<!-- action -->
		<select class="form-control input-sm" ng-model="action">
			<option value="delete" selected>Delete</option>
		</select>
		<button class="btn btn-default btn-sm" ng-click="showConfirm()">Apply</button>
		<!-- end action -->
		<!-- filter -->
		<select class="form-control input-sm" ng-model="filterStatus">
			<option value="">All status</option>
			<option value="enabled">Enabled</option>
			<option value="disabled">Disabled</option>
		</select>
		<button class="btn btn-default btn-sm" ng-click="loadData()">Filter</button>
		<!-- end filter -->
	</div>
	<!-- search block -->
	<div class="form-group col-md-3">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control pull-right input-sm" ng-model="filterOptions.filterText" placeholder="Enter email or name">
        </div>
	</div>
	<!-- end search block -->
</div>
<!-- end controls -->
<!-- grid -->
<div class="gridStyle" ng-grid="gridOptions">
	<div class="loading-overlay" ng-class="{ 'hide' : !gridLoading }"><span class="loading-message">{{ gridLoadingMessage }}</span></div>
</div>
<!-- end grid -->