<div class="row">
    <div class="col-md-12">
        <a class="btn btn-link" ng-click="create()">
            <i class="fa fa-plus-square"></i> New user
        </a>
    </div>
    <div class="col-md-12">
        <a href="#/" type="button" class="btn btn-link" ng-disabled="displayingGrid == 'users'">
            Users
        </a> | 
        <a href="#/deleted-users" type="button" class="btn btn-link" ng-disabled="displayingGrid == 'deleted-users'">
            Deleted users
        </a>
    </div>
</div>